section {
  padding: 2rem 9%;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.home .content {
  text-align: center;
}
.home .content h3 {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0.3 rem 0.5 rem rgba(0, 0, 0, 0.1);
}
.home .content p {
  font-size: 2.5rem;
  color: #faf5f5;
  padding: 0.5rem 0;
}
.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* cardslidercss */
.statename {
  background-color: aquamarine;
  border-radius: 20px;
  margin-top: 10px;
}
.partofindia {
  padding: 10px 0px;
  position: relative;
  text-align: center;
  font-family: cursive, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
.partofindia:hover {
  cursor: pointer;
  background-color: rgb(17, 179, 125);
  border-radius: 20px;
}
.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  width: 300px;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
  font-family: cursive, Arial, Helvetica, sans-serif;
}
.card img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
.card h3 {
  margin: 15px 0 10px;
  font-size: 1.5em;
}
.card p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 20px;
}
.card button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
}
.card button:hover {
  background-color: #0056b3;
}
.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.controls button {
  background-color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.controls button:hover {
  background-color: #f0f0f0;
}
